syntax: glob
venv/*
.idea*
.git*
hyvr.egg-info/*
dist/*
*__pycache__*
build/*
.eggs/*
pypi_instructions.txt
test.py
*.ipynb
*doctrees/*
.hgignore.orig
.pypirc
.travis.yml
*/testing_small1/*
docs/_build/
*.nam
hyvr/tests/test_lu/mf6/test_lu_hyvr.oc
*.tdis
*wel
*.dat
*oc
*.mat
*.vtr
*ic
*.cbc
*.chd
*dis
hyvr/tests/test_lu/mf6/test_lu_hyvr.dis.grb
*.hds
*.ims
*.lst
*npf
external/*
*.so
*.pyd
.orig
hyvr/sim.py.orig
*.tif
*.orig
testcases/small/*
testcases/small_reference/HGS*
testcases/small_reference/*.h5
testcases/small_reference/MODFLOW/*
testcases/simple_cases/trough/*
.pytest_cache/*
hyvr/made.ini
hyvr/small/*
hyvr_dev/*
hyvr_backup/*
*.profile
