syntax: glob
venv/*
.idea*
.git*
hyvr.egg-info/*
dist/*
*__pycache__*
build/*
.eggs/*
pypi_instructions.txt
test.py
*.ipynb
*doctrees/*
.hgignore.orig
.pypirc
.travis.yml
*/testing_small1/*
docs/_build/
*.nam
hyvr/tests/test_lu/mf6/test_lu_hyvr.oc
*.tdis
*wel
*.dat
*oc
*.mat
*.vtr
*ic
*.cbc
*.chd
*dis
hyvr/tests/test_lu/mf6/test_lu_hyvr.dis.grb
*.hds
*.ims
*.lst
*npf
external/*
*.c
*.so
*.pyd
.orig
hyvr/sim.py.orig
*.tif
*.orig
push_to_github.sh
.hgtags
pytest.ini
